/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
End CSS reset
*/

#ViewUser{
    grid-row-start: 1;
    grid-row-end: 3;
}
#EditUser{
    grid-column-start: 2;
}
#AddUser{
    grid-column-start: 2;
}
tr {
    border-style:solid;
    border-width:1px;
    border-color: #888888;
    background-color: #CFCFCF;
}

td{
    padding-right: 30px;
    padding: 10px;
}

body{
    background-color:#1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    margin: 5vh;
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 3vw;
}

.grid-container > div {
    border-radius: 10px;
    background-color: #666666;
    padding: 15px;
}

.inputs {
    margin-top: 20px;
}

.inputs > label {
    margin-top: 2vh;
    display: block;
}


h2 {
    font-size: 60px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 34px;
}

h5, .columnLabels{
    font-size: 24px;
}

table{
    width: 100%;
}

.submit{
    margin-top: 2vh;
    width: 100%;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*icon styles*/

.iconButton{
    border: none;
    padding: 7px;
    background-color: inherit;
}

.deleteButton{
    color:rgb(245,55,22);
}

.editButton{
    color:rgb(150,150,150);    
}

.userTable{
    border-spacing: 5px 2em;
}

.userTable tr{
    border-color: grey;
    border-radius: 15px;
}

