#ViewUser{
    
}
#EditUser{
    
}
#AddUser{
    
}
#Header{
    
}
tr td{
    border-style:solid;
    border-width:2px;
    border-color:#79fefa;
    
}

body{
    background-color:#F5EDFF;
}