/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
End CSS reset
*/

html{
    scroll-behavior: smooth;
}

h2 {
    font-size: 60px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 34px;
}

h5, .columnLabels{
    font-weight: 600;
    font-size: 14px;
}

#ViewUser{
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 75%;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#EditUser{
}

table{
    width: 100%;
    row-gap: 5px;
    background-color: #EEE;
    border-collapse: collapse;
    border: 2vw solid #eee;
}

#AddUser{
    grid-column-start: 2;
}

tr:hover{
    background-color: #ddd;
}

tr:hover > td > .iconButton {
    visibility: visible;
}

td{
    padding-right: 16px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
}

body{
    background-color:#1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.columnLabels{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #888888;
}

.columnLabels:hover{
    background-color: inherit;
}

.submit{
    margin-top: 4vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.iconButton{
    border: none;
    padding: 7px;
    background-color: inherit;
    visibility: hidden;
}

.deleteButton{
    color:rgb(245,55,22);
}

.editButton{
    color:rgb(150,150,150);    
}

.userTable{
    border-spacing: 5px 2em;
}

.userTable tr{
    border-color: grey;

}

.iconButton :hover{
    box-shadow: 0 1px 2px 4px black;
    color: white;
}

.activeBoxes{
    border-radius: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: calc(60px * 2/3);
    height: calc(34px * 2/3);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * 2/3);
    width: calc(26px * 2/3);
    left: calc(4px * 2/3);
    bottom: calc(4px * 2/3);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px * 2/3));
    -ms-transform: translateX(calc(26px * 2/3));
    transform: translateX(calc(26px * 2/3));
}

.slider.round {
    border-radius: calc(2/3 *34px);
}

.slider.round:before {
    border-radius: 50%;
}

.modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.modalShaun {
    z-index: 0;
    position: absolute;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
    background: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(1.5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.modal {
    padding: 16px;
    z-index: 1;
    position: absolute;
    margin: auto;
    margin-top: 10vh;
    background-color: #666;
    left: 0;
    right: 0;
    width: 30vw;
    border-radius: 2px;
    text-align: center;
}

.modal > h4{
    margin-top: 5vh;
}

.BIG {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-weight: 600;
}

.closeButtonWrapper{
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(45deg);
    font-weight: bold;
}

.close {
    color:rgb(150,150,150); 
    background-color: transparent !important;
    border: none;
    font-size: 32px;
}

.close:focus{
    border:none;
    outline: none;
    font-size: 26px;
}

.inputs {
    margin-top: 4vh;
    text-align: left;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.inputs > label {
    margin-top: 3vh;
    display: block;
    font-size: 14px;
    font-weight: 100;
    font-size: 14px;
}

.inputs > label > input, .inputs > label > div, .inputs > label > select{
    margin-top: 0.5vh;
    display: block;
}

.inputs > label > input{
    width: 100%;
    border-radius: 4px;
    border: none;
}

.inputs > label > input:focus{
    outline-color: #777;
}

.inputs > label > select {
    border-radius: 4px;
}


#websiteController{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2vw;
    top: 2vh;
    background-color: #ccc;
    padding: 0.5vw;
    border-radius: 3px;
}

#websiteController > input{
    margin: 1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: calc(25px / 2) solid transparent;
    border-right: calc(25px / 2) solid transparent;
    border-bottom: calc(50px / 2) solid #555;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: calc(25px / 2) solid transparent;
    border-right: calc(25px / 2) solid transparent;
    border-top: calc(50px / 2) solid #555;
}

a > div.triangle{
    margin: 1vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}