/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
End CSS reset
*/

#ViewUser{
    grid-row-start: 1;
    grid-row-end: 3;
}

#EditUser{
    grid-column-start: 2;
}

table{
    width: 100%;
    margin-top: 2vh;
    row-gap: 5px;
}

#AddUser{
    grid-column-start: 2;
}

tr {
    border-style:solid;
    border-width:0px;
    border-color: #888888;
    background-color: #EEE;
}

tr:hover{
    background-color: #ddd;
}

tr:hover > td > .iconButton {
    visibility: visible;
}

td{
    padding-right: 16px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
}

body{
    background-color:#1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    margin: 5vh;
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 3vw;
}

.grid-container > div {
    border-radius: 10px;
    background-color: #666666;
    padding: 15px;
    text-align: center;
}

.inputs {
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
}

.inputs > label {
    margin-top: 2vh;
    display: block;
    /*    font-weight: 600;
        font-size: 14px;*/
}

h2 {
    font-size: 60px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 34px;
}

h5, .columnLabels{
    font-weight: 600;
    font-size: 14px;
}

.columnLabels{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #888888;
}

.submit{
    margin-top: 2vh;
    width: 100%;
    font-size: 16px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*icon styles*/

.iconButton{
    border: none;
    padding: 7px;
    background-color: inherit;
    visibility: hidden;
}

.deleteButton{
    color:rgb(245,55,22);
}

.editButton{
    color:rgb(150,150,150);    
}

.userTable{
    border-spacing: 5px 2em;
}

.userTable tr{
    border-color: grey;

}

.iconButton :hover{
    box-shadow: 0 1px 2px 4px black;
    color: white;
}

.activeBoxes{
    border-radius: 10px;
}


/*
CheckBoxes
*/

.switch {
    position: relative;
    display: inline-block;
    width: calc(60px * 2/3);
    height: calc(34px * 2/3);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(26px * 2/3);
    width: calc(26px * 2/3);
    left: calc(4px * 2/3);
    bottom: calc(4px * 2/3);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px * 2/3));
    -ms-transform: translateX(calc(26px * 2/3));
    transform: translateX(calc(26px * 2/3));
}

/* Rounded sliders */
.slider.round {
    border-radius: calc(2/3 *34px);
}

.slider.round:before {
    border-radius: 50%;
}

.modalContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.modalShaun {
    z-index: 0;
    position: absolute;
/*    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);*/
    background: rgba(200, 200, 200, 0.4);
    backdrop-filter: blur(1.5px);
/*    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    width: 100%;
    height: 100%;
}
.modalAdd {
    z-index: 1;
    position: fixed;
    width: 500px;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-left: -250px;
    margin-top: 15vh;

}
.modalEdit {

    z-index: 3;
    position: fixed;
    width: 500px;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-left: -250px;
    margin-top: 15vh;

}
.BIG {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-weight: 600;
}

.close {
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
    transform: rotate(45deg);
    font-size: large;
    font-weight: bold;
    color:rgb(150,150,150); 
}